services:
  postgres_db:
    image: postgres:latest
    container_name: iesi_postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=docker
      - POSTGRES_DB=iesi_db
    volumes:
      - ./pgdata:/var/lib/postgresql

volumes:
  pgdata: