services:
  postgres_db:
    image: postgres:latest
    container_name: iesi_postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=docker
      - POSTGRES_DB=iesi_db
    volumes:
      - ./backend/pgdata:/var/lib/postgresql

  frontend_app:
    build:
      context: ./frontend
      dockerfile: dockerfile
    container_name: iesi_frontend
    restart: always
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
    depends_on:
      - postgres_db
